.advpagecom_block {
  display: flex;
  align-items: center;
  background-color: white;
  height: 80px;
  color: rgba(44, 45, 46);
  padding-left: 24px;
  border-radius: 4px;
  gap: 24px;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    border: 1px solid rgba(72, 119, 242, 0.5);
    box-shadow: 0px 8px 36px rgba(33, 33, 33, 0.06);
  }

  &_itemname {
    width: 256px;
    font-weight: 700;
  }
  &_itemcat {
    width: 178px;
  }
  &_itemdate {
    width: 175px;
  }
  &_itempubl {
    width: 72px;
    display: flex;
    justify-content: center;
  }
}
